* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Indie Flower', cursive;
  }
  #navbar {
    position: fixed;
    height: 70px;
    background-color: darkred;
    width: 100%;
  }
  #navbar ul {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    margin-right: 2%;
  }
  #navbar ul li {
    margin: 2% 2%;
    list-style: none;
    font-size: 25px;
    color: whitesmoke;
  }
  #navbar a {
    text-decoration: none;
    color: inherit;
  }
  #welcome-section {
    font-size: 45px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
    z-index: -1;
    background-color: #000;
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
  }
  #welcome-section h1 {
    color: whitesmoke;
  }
  #welcome-section p {
    color: darkred;
  }
  .projects-section {
    padding: 5px;
    background-color: #15163d;
    width: 100%;
    text-align: center;
  }
  .projects-section .header {
    font-size: 40px;
    border-bottom: 2px solid whitesmoke;
    text-align: center;
    margin: 100px auto 80px auto;
    width: 55%;
    color: whitesmoke;
  }
  .project-img {
    display: block;
    width: 100%;
    height: 370px;
  }
  .projects-section-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 60px;
    gap: 30px;
  }
  .projects-section-grid .project {
    text-align: center;
  }
  .projects-section-grid a {
    text-decoration: none;
    color: inherit;
    font-size: 22px;
    line-height: 2;
  }
  .projects-section-grid p {
    background-color: #262e28;
    color: whitesmoke;
    padding: 10px;
  }
  .projects-section .btn {
    border-radius: 5px;
    width: 15%;
    background-color: #262e28;
    color: whitesmoke;
    text-decoration: none;
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: 25px;
    margin: 0 auto 80px auto;
  }
  .projects-section i {
    margin: 2px 2px 2px 10px;
  }
  .contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #262e28;
    color: whitesmoke;
    height: 75vh;
  }
  .contact-section .contact-header h2 {
    font-size: 70px;
    flex: 1;
  }
  .contact-section .contact-header p {
    font-size: 25px;
    font-style: italic;
    font-weight: 200;
    flex: 1;
    margin-bottom: 5%;
  }
  .contact-section a {
    margin: auto 20px;
    text-decoration: none;
    color: inherit;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 1;
    font-size: 26px;
  }
  .contact-links i {
    margin-right: 10px;
  }
  footer {
    margin: auto;
    font-size: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    background-color: #262e28;
    color: whitesmoke;
    border-top: 5px solid darkred;
  }
  footer a {
    text-decoration: none;
    color: inherit;
  }
  @media(max-width: 870px) {
    .contact-section {
      display: grid;
      grid-template-rows; repeat(2, 1fr);
      margin: auto;
    }
    .contact-section a {
      display: flex;
      margin: 30px auto;
    }
  }
  @media(max-width: 780px) {
    footer {
      flex-direction: column;
      text-align: center;
      justify-content: space-around;
      padding: auto;
    }
  }
  @media(max-width: 460px) {
    footer {
      flex-direction: column;
      text-align: center;
      justify-content: space-around;
      padding: auto;
    }
  }